<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/student/style.css" />
  </head>

  <body>
    <nav
      class="navbar sticky-top navbar-dark bg-dark justify-content-between navbar-collapse"
    >
      <span class="navbar-brand mb-0 h1">AIMS Portal</span>
      <span>
        <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
            Logout
          </button>
        </form>
      </span>
    </nav>

    <header>
      <h1 class="text-center">Student dashboard</h1>
    </header>
    <main>
      <div class="container">
        <%for(let course of courses) {%>
        <div class="courseInfo">
          <div>
            <h5>Course Id : <%=course.courseId.toUpperCase()%></h5>
            <h5>Course Name : <%=course.courseName.toUpperCase()%></h5>
          </div>
          <div>
            <form action="/student/dashboard" method="post">
              <input
                type="text"
                class="pass-input"
                name="courseId"
                value="<%=course.courseId%>"
              />
              <input
                type="text"
                class="pass-input"
                name="instId"
                value="<%=course.instId%>"
              />
              <%if(Number(course.status) === 0) {%>
              <button class="btn btn-warning">Enroll</button>
              <%}%> <%if(Number(course.status) === 1) {%>
              <button class="btn btn-primary" disabled>
                Pending Instructor Approval
              </button>
              <%}%> <%if(Number(course.status) === 2) {%>
              <button class="btn btn-info" disabled>
                Pending Advisor Approval
              </button>
              <%}%> <%if(Number(course.status) === 3) {%>
              <button class="btn btn-success" disabled>Accepted</button>
              <%}%> <%if(Number(course.status) === -1) {%>
              <button class="btn btn-danger" disabled>Rejected</button>
              <%}%>
            </form>
          </div>
        </div>
        <hr />
        <%}%>
      </div>
    </main>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/student/app.js"></script>
  </body>
</html>
