<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/student/style.css" />
  </head>

  <body>
    <header>
      <h1>This is Student dashboard</h1>
    </header>
    <main>
      <div class="container">
        <%for(let course of courses) {%>
        <h6><%=course.courseId%> : <%=course.courseName%></h6>
        <button class="btn btn-warning">Enroll</button>
        <hr />
        <%}%>
      </div>
    </main>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
