<nav
  class="navbar sticky-top navbar-dark bg-dark justify-content-between navbar-collapse"
>
  <span class="navbar-brand mb-0 h1">AIMS Portal</span>
  <span>
    <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
        Logout
      </button>
    </form>
  </span>
</nav>
