<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/advisor/advisor.css" />
  </head>

  <body>
    <nav
      class="navbar sticky-top navbar-dark bg-dark justify-content-between navbar-collapse"
    >
      <span class="navbar-brand mb-0 h1">AIMS Portal</span>
      <span>
        <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
            Logout
          </button>
        </form>
      </span>
    </nav>

    <main>
      <div class="container">
        <h3>Requests to approve for Advisor</h3>

        <%if(requests.length === 0) {%>
        <h3>No requests to approve!</h3>
        <%}%> <%for(let request of requests) {%>
        <form action="/advisor/dashboard" method="post">
          <h6><%=request.studId%> : <%=request.courseId%></h6>
          <input
            type="text"
            name="studId"
            value="<%=request.studId%>"
            class="request-input"
          />
          <input
            type="text"
            name="courseId"
            value="<%=request.courseId%>"
            class="request-input"
          />

          <button
            class="btn btn-warning"
            type="submit"
            name="isApproved"
            value="1"
          >
            Approve
          </button>
          <button
            class="btn btn-warning"
            type="submit"
            name="isApproved"
            value="0"
          >
            Reject
          </button>

          <hr />
        </form>
        <%}%>
      </div>
    </main>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
  </body>
</html>
