<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="outer-container">
      <div class="imgDiv">
        <img src="/background2.png" class="img-1" alt="front img" />
      </div>
      <div class="login-container">
        <form action="/login" method="post">
          <h2 class="display-5 intro">Welcome to Voices,</h2>
          <p class="display-6 details text-secondary">Enter your details</p>
          <div>

            <fieldset>
              <legend>Select a Role:</legend>
          
              <div>
                <input type="radio" id="student" name="role" value= "0"
                       checked>
                <label for="student">student</label>
              </div>
          
              <div>
                <input type="radio" id="instructor" name="role" value="1">
                <label for="instructor">instructor</label>
              </div>
          
              <div>
                <input type="radio" id="advisor" name="role" value="2">
                <label for="advisor">advisor</label>
              </div>
          </fieldset>

          </div>
          <input
            class="form-control form-control-lg"
            type="text"
            placeholder="Email"
            aria-label=".form-control-lg example"
            name="username"
            required
          />
          <input
            class="form-control form-control-lg"
            type="password"
            placeholder="Password"
            aria-label=".form-control-lg example"
            name="password"
          />
          <a class="forgotPass" href="">Forgot Password?</a>
          <button type="submit" class="btn btn-dark btn-lg">Log in</button>
        </form>
      </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
