<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="outer-container">
      
      <div class="login-container">
        <form action="/login/otp" method="post">
          <h2 class="display-5 intro">Welcome to Voices,</h2>
          <p class="display-6 details text-secondary">Enter your details</p>
          <input
            class="form-control form-control-lg"
            type="text"
            placeholder="Enter- OTP"
            aria-label=".form-control-lg example"
            name="otp"
            required
          />
        
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>
  </body>
</html>
